<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dak Consultoría</title>
    
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/content.css">
    <link rel="stylesheet" href="static/css/aside-carrito.css">
    <link rel="stylesheet" href="static/css/media.css">
    <link rel="stylesheet" href="static/css/whatsapp-button.css">
</head>

<body>

    <!-- Begin header -->
    <nav>
        <div class="mobile-menu inactive">
            <ul>
                <li>
                    <a href="{% url 'calculate' %}">My Calculations</a>
                </li>
                <li>
                    <a href="/">My Soil Profiles</a>
                </li>
                <li>
                    <a href="/">Geotechncis</a>
                </li>
                <li>
                    <a href="/">Functions</a>
                </li>
            </ul>
        
            <ul>
                <li>
                    <a href="/">My Orders</a>
                </li>
                <li>
                    <a href="/">My Subscription</a>
                </li>
            </ul>
        
            <ul>
                <li>
                    <a href="/" class="mobile-email">sar9206@gmail.com</a>
                </li>
                <li>
                    <a href="/" class="mobile-sign-out">Sign out</a>
                </li>
            </ul>
        </div>
        <img src="static/icons/icon_menu.svg" alt="" class="menu">
        <div class="navbar-left">
            <img src="static/icons/logo_dak.svg" alt="" class="">
            <ul>
                <li>
                    <a href="{% url 'calculate' %}">Estructural</a>
                </li>
                <li>
                    <a href="{% url 'index' %}">Conceptos técnicos</a>
                </li>
                <li>
                    <a href="/">Vias</a>
                </li>
                <li>
                    <a href="/">Geotecnia</a>
                </li>
                <li>
                    <a href="/">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul>
                <li class="navbar-email">
                    sar9206@gmail.com
                </li>
                <li class="navbar-right-img">
                    <img src="static/icons/icon_shopping_cart.svg" alt="" class="">
                    <div>2</div>
                </li>
            </ul>
        </div>
        <div class="desktop-menu inactive">
            <ul>   
              <li>
                <a href="/">My account</a>
              </li>
        
              <li>
                <a href="/">Sign out</a>
              </li>
            </ul>
          </div>
    </nav>
    
    <aside class="subscription-detail inactive">
        <div class="title-container">
          <img src="static/icons/flechita.svg" alt="arrow">
          <p class="title">My order</p>
        </div>
    
        <div class="my-order-content">
          <div class="shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="static/img/icon_close.png" alt="close">
          </div>
    
          <div class="shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="static/icons/icon_close.png" alt="close">
          </div>
    
          <div class="shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="static/icons/icon_close.png" alt="close">
          </div>
    
          <div class="order">
            <p>
              <span>Total</span>
            </p>
            <p>$560.00</p>
          </div>
    
          <button class="primary-button">
            Checkout
          </button>
        </div>
      </div>
      </aside>    
    
    <!-- end header -->
    
    <!-- Begin content -->
    <div class="content">
        <div class="top-info-section">
            <!-- <h1>SOMOS DISEÑADORES ESTRUCTURALES</h1> -->
            <div class="top-text">
                <div class="titulo">
                    SOMOS INGENIEROS DISEÑADORES
                </div>
                <div class="top-text-msj">
                    <p>
                        En Dak somos rapidez, somos innovación, y somos confianza.
                        Utilizamos toda nuestra experiencia e ingenio para darte
                        las soluciones de diseño que mejor se adapten a tu
                        proyecto y a tu presupuesto.
                        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Officiis nulla possimus culpa nesciunt maiores amet 
                         cupiditate molestiae saepe aliquid eum nihil nostrum 
                         perspiciatis natus sint aliquam cumque, eaque corrupti dolores! -->
                        </p>
                </div>
            </div>
        </div>
        <div class="middle-section">

            <div class="left-image-section">
                    <img src="static/img/expand.jpg" alt="zapata" class="">
            </div>
    
            <div class="right-price-section">
                <div class="right-text">
                    <div class="titulo">
                        Cotiza
                    </div>
                    <div class="input-container">
                        <div class="input-label">
                            <label for="metros">metros cuadrados  de tu proyecto</label>
                        </div>
                        <div class="input-wrap">
                            <input type="text" id="metros" onkeyup="update()" name="metros" placeholder="m2" class="" value="">
                        </div>
                        
                    </div>
                    <div class="metros-result">
                        <p id="output"></p>
                    </div>
                        
                </div>
            
                
            </div>
        </div>

    </div>
    <!-- end content -->

    <!-- Inicio Boton whatsapp -->
    <div class="container-boton">
        <a href="https://wa.me/573005357985?text=Quiero%20realizar%20un%20proyecto" target="_blank">
            <img class="boton" src="static/img/whatsapp.png" alt="">
        </a>
    </div>
    <!-- Final Boton whatsapp -->
    
    <!-- Begin footer -->
    <footer>
        <div class="bottom-footer-section">
            <div class="bottom-text">
                Contactanos para ofrecerte el mejor servicio
            </div>
        </div>
    </footer>
    <!-- end headfooter -->

</body>

<script src="static/calc.js"></script>
<script src="static/script.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NHBHX0G6KV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NHBHX0G6KV');
</script>

</html>