.top-info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
    color: white;
}

.titulo{
    font-size: var(--vlg);
    padding: 30px;
    text-align: center;
}

.top-text{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.top-info-section img{
    display: none;
}

.middle-section{
    display:flex;
}

.left-image-section{
    flex:1;
}

.right-price-section{
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.right-text{
    text-align: justify;
    max-width: 450px;
}

.left-image-section img{
    width: 100%;
    height: auto;
    display: block;
}

.input-label{
    padding: 0px 0px 30px;
}

/*  metros box */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 150px;
    overflow: hidden;
}

.input-container label{
    font-size: .80em;
}

.input-container input{
    /* height: 65px; */
    background-color: var(--text-input-field);
    padding: 10px;
    width: 180px; /*65px*/
    border-radius: 8px;
    /* border: none; */
    border-color: var(--black);
    /* margin: 5px; */
    /* width: 40px; */
}

.input-container input::placeholder {
    font: 0.7rem sans-serif;
    text-align:right;
}

.metros-result {
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 30px 10px 20px;
}

.input-wrap{
    padding: 0px 0px 20px;
}

@media(max-width: 808px){

    .left-image-section {
        display: none;
    }

    .top-info-section{
        position: relative;
    }

    .top-info-section img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        opacity: 0.5; 
    }

    .titulo{
        font-size: var(--vlg);
        padding: 30px;
        text-align: center;
        font-weight: bold;

    }

    .top-text-msj{
        font-size: var( --sm);
        padding: 0 30px 30px;
    }


    .metros-result{
        height: 80px;
    }

    .input-label{
        padding: 0px 0px 10px;
    }

    .right-text{
        text-align: center;
        margin: 20px; /* Aplicar margen */
        padding: 10px; /* Agregar relleno */
        border-radius: 10px; /* Redondear los bordes */
        border: 3px solid black; /* Aplicar borde negro de grosor 3px */
    }

    .input-container{
        display: block;
        height: auto;
    }

    .input-wrap{
        padding: 10px;
    }

    .top-info-section {
        height: 250px;
        background-color: white;
        color: black;
    }

}







/*  metros box  fin*/
