.bottom-footer-section{
    display: grid;
    align-items: center;
    height: 400px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
}

.bottom-frame{
    display: flex;
    align-items: center;
    /* max-width: 480px; */
    margin: 0 auto;
    text-align: justify;
}

.bottom-frame-text{
    margin: 10px;
}

.bottom-frame-logo{
    margin: 10px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

.footer-section {

    min-width: 200px;
    font-size: var(--md);
    width: 100%; /* Establece un ancho igual para cada sección */
    text-align: left;
    /* margin-right: 20px; */
}

.footer-section-title{
    margin-bottom: 20px;
}

.company-logo img {
    margin-right: 100px;
    max-width: 170px; /* Ajusta el ancho máximo del logo según tus necesidades */
    max-height: 95px;
}

.mini-inside-box-footer{
    font-size: var(--sm);
}

.mini-inside-box-footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: left;
}

.mini-inside-box-footer ul li{
    margin-bottom: 4px;
  }

.mini-inside-box-footer ul li a{
  text-decoration: none;
  color: var(--very-light-pink);
}

@media(max-width: 808px){
    .footer-section{
        display: none;
    }

    .footer-container{
        align-items: center;
        margin-top: 60px;
    }

    .company-logo img {
        margin-right: 0;
        max-width: 170px;
        max-height: 90px;
    }
    .footer-logo-negro{
        display: none;
    }
    .footer-logo-blanco{
        display: block;
    }

    .bottom-frame-text{
        font-size: var( --sm);
        text-align: center;
    }

    .bottom-frame{
        display: grid;
        place-items: center;
    }

    .bottom-footer-section{
        display: block;
    }
    
    .bottom-footer-section{
        height: 250px;
        background-color: var(--bg-dark);
        color: var(--text-light);
    }
}