/* Desktop Menu */
.desktop-menu {
  position: absolute;
  /* background-color: var(--white); */
  /* color: var(--text-light); */
  background-color: var(--bg-dark);
  top: 60px;
  right: 24px;
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/* Mobile Menu */
.mobile-menu {
  z-index: 1;
  padding: 24px;
  position: absolute;
  background: var(--bg-dark);
  top: 60px;
  left: 0;
  width: calc(100% - 24px);
}

.mobile-menu a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu li {
  margin-bottom: 24px;
}

.mobile-email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.mobile-sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}