/* Navbar (general) */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  /* border-bottom: 1px solid var(--very-light-pink); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 999;
  box-sizing: content-box;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.menu {
  display: none;
}

.navbar-left {
  display: flex;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--text-light);
  border: none;
  border-bottom: 3px solid transparent;
  padding: 16px 20px;
  /* 16px arriba y abajo, 20px a los lados */
  background: none;
  transition: border-bottom 0.2s, color 0.2s;
}

.navbar-left a {
  text-decoration: none;
}

.navbar-left a img {
  width: 97px;
  height: 60px;
}

.navbar-left ul li a:hover {
  border-bottom: 3px solid var(--text-light);
  /* Línea visible al hacer hover */
  color: var(--text-light);
}

.navbar-email {
  color: var(--very-light-pink);
  cursor: pointer;
  font-size: var(--sm);
  margin-right: 12px;
}

.navbar-email:hover {
  color: var(--dark)
}

.navbar-right-img {
  position: relative;
  cursor: pointer;
}

.navbar-right-img div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown Styles */
.dropdown-item {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-dark);
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  height: auto !important;
  /* Override default height */
  padding: 10px 0;
  z-index: 1000;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  padding: 12px 16px;
  display: block;
  color: var(--text-light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-item:hover .dropdown-menu {
  display: flex;
}

/* Mobile Dropdown */
.mobile-dropdown {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  margin-top: 5px;
}

.mobile-dropdown li a {
  font-size: 1rem;
  padding: 8px 0;
}

.mobile-dropdown-toggle.active .mobile-dropdown {
  display: block;
}

.mobile-dropdown-toggle span {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

@media(max-width: 808px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }

  .desktop-menu {
    display: none;
  }
}